---
layout: default
title: Blog
---
<div class="page-header">
  <h1>Latest Posts</h1>
  <p>Explore all the latest articles and tutorials</p>
</div>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      <a href="{{ post.url }}" class="post-link">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-meta">
          {{ post.date | date_to_string }}
          {% assign author = site.authors | where: 'short_name', post.author | first %}
          {% if author %}
            by <a href="{{ author.url }}">{{ author.name }}</a>
          {% endif %}
        </p>
        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>