/* 页面内容 */
.page-content {
    padding: 3rem 0;
  }
  
  .page-header {
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding: 0 2rem;
    
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $primary-color;
      font-family: 'Noto Serif SC', serif;
      display: inline-block; // 使标题盒子收缩到文字宽度
      position: relative;
      
      &::after {
        content: '';
        display: block;
        width: 100%; // 跟随标题文本宽度
        max-width: $underline-max-width;
        height: 3px;
        margin: 0.5rem auto 0;
        background: linear-gradient(to right, $primary-color, $secondary-color);
        border-radius: 3px;
      }
    }
    
    p {
      color: #666;
      font-size: 1.2rem;
      max-width: 800px;
      margin: 0 auto;
    }
  }